.chat-side
  .chat-side__user
    .chat-side__user_content
      .chat-side__user_content__name senta
      = link_to edit_user_registration_path, class: "chat-side__user_content__group_edit" do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path, class: "chat-side__user_content__user_edit" do
        %i.fa.fa-cog
  .chat-side__group
    = render partial: "sidebar"

.chat-mainpage
  .mainpage__top
    .mainpage__top__group_content
      .mainpage__top__group_content__name group
      = link_to "edit", edit_user_registration_path, class: "mainpage__top__group_content__edit_button"
      .mainpage__top__group_content__member MEMBER :
  .mainpage__body
    = render partial: "mainpage"

  .mainpage__bottom
    .mainpage__bottom_form
      = form_for(@message) do |f|
        .mainpage__bottom_form_content
        .message
          = f.text_field :name, autofocus: true
        .image_file
          = f.label :image
          .image
            = f.file.fild :image
          %i.fa.fa-image
        .submit
          = f.submit "Send", class: 'submit'
