.chat-side
  .chat-side__user
    .chat-side__user_content
      .chat-side__user_content__name
        = current_user.name
      = link_to new_group_path, class: "chat-side__user_content__group_edit" do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_path(current_user), class: "chat-side__user_content__user_edit" do
        %i.fa.fa-cog
  .chat-side__group
    - @groups.each do |group|
      = render partial: "groups/sidebar", locals: {group: group}

.chat-mainpage
  .mainpage__top
    .mainpage__top__group_content
      .mainpage__top__group_content__name
        = @group.name
      = link_to "edit", edit_group_path(@group), class: "mainpage__top__group_content__edit_button"
      .mainpage__top__group_content__member MEMBER :
  .mainpage__body
    = render partial: "mainpage"

  .mainpage__bottom
    = form_for (current_user), html: {class: 'mainpage__bottom_form'} do |f|
      .mainpage__bottom_form_content
        = f.text_field :name, :placeholder => "type a message", class: "message"
        %label.image_file
          = f.file_field :image, class: "image"
          %i.fa.fa-image
        = f.submit "SEND", class: "submit"

